class #{@c.name} { 
<?rb @c.members.each do |m| ?>
<?rb if m.init.nil? ?>

  #{m.type} #{m.vname};
<?rb else ?>

  #{m.type} #{m.vname} = #{m.init};
<?rb end ?>
<?rb if m.readable ?>
  #{m.type} get #{m.name} => #{m.vname};
<?rb end ?>
<?rb if m.writable ?>
  #{m.type} set #{m.name}(#{m.type} #{m.name}) => #{m.vname} = #{m.name};
<?rb end ?>
<?rb end ?>
<?rb @c.ctors_to_members.keys.sort.each do |ctor| ?>

<?rb ctor_name = (ctor=='default' and @c.name or "#{@c.name}.#{ctor}") ?>
<?rb type_value_pairs = @c.ctors_to_members[ctor].map {|m| "      #{m.type} #{m.name}" } ?>
<?rb assignments = @c.ctors_to_members[ctor].map {|m| "    #{m.vname} = #{m.name}" } ?>
  #{ctor_name}(#{type_value_pairs.join(','+Codegen::NL).strip}) :  
#{assignments.join(','+Codegen::NL)} { 
  }
<?rb end ?>
#{Codegen.protect_block("#{@c.id} impl")}
}
