[ 
<?rb #Codegen.indent ?>
<?rb items = [] ?>
<?rb (1..(rand(5)+1)).each do |i| ?>
<?rb items << @lib.random_json(@v).chomp ?>
<?rb end ?>
#{Codegen.indent_text(items.join(','+Codegen::NL))}
<?rb #Codegen.outdent ?>
]
