library #{@lib.name};

<?rb @lib.imports.each do |imp| ?>
import "#{imp}";
<?rb end ?>
<?rb @lib.parts.each do |part| ?>
part "src/#{@lib.id.abbrev}/#{part.id}.dart";
<?rb end ?>

main() { 
  print("Main for lib #{@lib.id}");
#{Codegen.protect_block("#{@lib.id} main")}
}

#{Codegen.protect_block("#{@lib.id} top level")}
