/** #{@part.id} */
part of #{@part.owner.name};

<?rb @part.enums.each do |e| ?>
#{@@engine.render('enum.tmpl', {:e => e,} )}

<?rb end ?>
<?rb @part.classes.each do |c| ?>
#{@@engine.render('class.tmpl', {:c => c,} )}

<?rb end ?>
<?rb if not @part.generated.empty? ?>

#{@part.generated.join(Codegen::NL)}
<?rb end ?>
<?rb if not @part.no_part_impl ?>
#{Codegen.protect_block("#{@part.id} part top level")}
<?rb end ?>

