/** #{@part.id} */
part of #{@part.owner.name};

<?rb @part.classes.each do |c| ?>
#{@@engine.render('class.tmpl', {:c => c,} )}
<?rb end ?>

<?rb if not @part.generated.empty? ?>

#{@part.generated.join(Codegen::NL)}
<?rb end ?>
#{Codegen.protect_block("#{@part.id} top level")}

