<?rb ################################################################################ ?>
<?rb # License: <a href="http://www.boost.org/LICENSE_1_0.txt">Boost License 1.0</a>. ?>
<?rb ################################################################################ ?>
boost::program_options::options_description const& #{@copg.description_method_name}();
void read_parameters(#{@copg.cpp_class.name}& results, int argc, char **argv);
