<?rb ################################################################################ ?>
<?rb # License: <a href="http://www.boost.org/LICENSE_1_0.txt">Boost License 1.0</a>. ?>
<?rb ################################################################################ ?>
<?rb if 0 != @cls.forward_class_decls_parsed.length ?>
// Forward class declarations
#{@cls.forward_class_decls_parsed.join("\n")}

<?rb end ?>
