<?rb ################################################################################ ?>
<?rb # License: <a href="http://www.boost.org/LICENSE_1_0.txt">Boost License 1.0</a>. ?>
<?rb ################################################################################ ?>
<?rb import('cpp_enum_from_c_str_impl.tmpl') ?>

<?rb import('cpp_enum_to_c_str_impl.tmpl') ?>

