<?rb ################################################################################ ?>
<?rb # License: <a href="http://www.boost.org/LICENSE_1_0.txt">Boost License 1.0</a>. ?>
<?rb ################################################################################ ?>
#include "#{@header}"

int #{@header.to_s.gsub!(%q{/}, '_').gsub(%q{.}, '_')}_test_the_header(1);

