#< if(_.doc != null) { >
${blockComment(_.doc)}
#< } >
#< if(_.classInit == null) { >
${_.isFinal? 'final ':''}${_.type} ${_.varName};
#< } else { >
#<   if(_.type == 'String') { >
${_.isFinal? 'final ':''}${_.type} ${_.varName} = "${_.classInit}";
#<   } else { >
${_.isFinal? 'final ':''}${_.type} ${_.varName} = ${_.classInit};
#<   } >
#< } >
#< if(!_.isPublic) { >
#<   if(_.access == Access.RO || _.access == Access.RW) { >
${_.type} get ${_.name} => ${_.varName};
#<   } >
#<   if(_.access == Access.RW) { >
set ${_.name}(${_.type} ${_.name}_) => ${_.varName} = ${_.name}_;
#<   } >
#< } >
