#< if(_.doc != null) { >
${blockComment(_.doc)}
#< } >
module ${_.qualifiedName};

#< for(String i in _.publicImports) { >
public ${_.importStatement(i)};
#< } >
#< for(String i in _.imports) { >
${_.importStatement(i)};
#< } >
#< for(String i in _.debugImports) { >
debug ${_.importStatement(i)};
#< } >
#< if (_.anyImports) { >

#< } >
${chomp(_.contents)}
#< if(_.unitTest) { >
static if(1) unittest { 
${indentBlock(chomp(customBlock("unittest ${_.name}")))}
}
#< } >
