#< if(null != _.doc) { >
${blockComment(_.doc)}
#< } >
struct ${_.templateName} { 
#< if(null != _.ctor) { >
${indentBlock(_.ctor.define())}
#< } >
${indentBlock(chomp(_.decls()))}
#< if(_.unitTest) { >
  static if(1) unittest { 
${indentBlock(chomp(customBlock("unittest ${_.name}")))}
  }
#< } >
}
